In [5]:
from nba_api.stats.endpoints import playercareerstats
import pandas as pd

# Nikola Jokić
career = playercareerstats.PlayerCareerStats(player_id='203999') 

# pandas data frames (optional: pip install pandas)
career.get_data_frames()[0]

# json
# career.get_json()

# # dictionary
# career.get_dict()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203999,2015-16,00,1610612743,DEN,21.0,80,55,1733.0,307,...,0.811,181,379,560,189,79,50,104,208,796
1,203999,2016-17,00,1610612743,DEN,22.0,73,59,2038.0,494,...,0.825,212,506,718,359,61,55,171,214,1221
2,203999,2017-18,00,1610612743,DEN,23.0,75,73,2443.0,504,...,0.850,195,608,803,458,90,61,210,212,1385
3,203999,2018-19,00,1610612743,DEN,24.0,80,80,2504.0,616,...,0.821,228,637,865,580,108,55,248,228,1604
4,203999,2019-20,00,1610612743,DEN,25.0,73,73,2335.0,565,...,0.817,166,545,711,512,85,44,226,222,1456
5,203999,2020-21,00,1610612743,DEN,26.0,72,72,2488.0,732,...,0.868,205,575,780,599,95,48,222,192,1898
6,203999,2021-22,00,1610612743,DEN,27.0,74,74,2476.0,764,...,0.810,206,813,1019,584,109,63,281,191,2004
7,203999,2022-23,00,1610612743,DEN,28.0,69,69,2323.0,646,...,0.822,167,650,817,678,87,47,247,174,1690

In [8]:
from nba_api.stats.static import players
from nba_api.stats.endpoints import playercareerstats
import pandas as pd  

def getIDs(names):
    nba_players = players.get_players()
    id_mapping = {}

    for name in names:
        for player in nba_players:
            if player['full_name'] == name:
                id_mapping[name] = player['id']
                break
        else:
            id_mapping[name] = None
    
    return id_mapping

def getCareerStats(player_ids):
    career_stats = {}

    for name, player_id in player_ids.items():
        if player_id:
            career = playercareerstats.PlayerCareerStats(player_id=player_id)
            career_data = career.get_data_frames()[0]
            career_stats[name] = career_data
        else:
            career_stats[name] = None
    
    return career_stats

names = ['Kareem Abdul-Jabbar', 'LeBron James', 'Michael Jordan']
id_mapping = getIDs(names)
career_stats = getCareerStats(id_mapping)

# Print career stats as pandas DataFrames
for name, stats in career_stats.items():
    print(f"Career Stats for {name}:\n")
    if stats is not None:
        print(stats)
        print("\n")
    else:
        print("Player not found or no career stats available.\n")

Career Stats for Kareem Abdul-Jabbar:

    PLAYER_ID SEASON_ID LEAGUE_ID     TEAM_ID TEAM_ABBREVIATION  PLAYER_AGE  \
0       76003   1969-70        00  1610612749               MIL        23.0
1       76003   1970-71        00  1610612749               MIL        24.0
2       76003   1971-72        00  1610612749               MIL        25.0
3       76003   1972-73        00  1610612749               MIL        26.0
4       76003   1973-74        00  1610612749               MIL        27.0
5       76003   1974-75        00  1610612749               MIL        28.0
6       76003   1975-76        00  1610612747               LAL        29.0
7       76003   1976-77        00  1610612747               LAL        30.0
8       76003   1977-78        00  1610612747               LAL        31.0
9       76003   1978-79        00  1610612747               LAL        32.0
10      76003   1979-80        00  1610612747               LAL        33.0
11      76003   1980-81        00  1610612747               LAL        34.0
12      76003   1981-82        00  1610612747               LAL        35.0
13      76003   1982-83        00  1610612747               LAL        36.0
14      76003   1983-84        00  1610612747               LAL        37.0
15      76003   1984-85        00  1610612747               LAL        38.0
16      76003   1985-86        00  1610612747               LAL        39.0
17      76003   1986-87        00  1610612747               LAL        40.0
18      76003   1987-88        00  1610612747               LAL        41.0
19      76003   1988-89        00  1610612747               LAL        42.0

    GP  GS     MIN   FGM  ...  FT_PCT   OREB    DREB   REB  AST    STL    BLK  \
0   82   0  3534.0   938  ...   0.653    NaN     NaN  1190  337    NaN    NaN
1   82  82  3288.0  1063  ...   0.690    NaN     NaN  1311  272    NaN    NaN
2   81  81  3583.0  1159  ...   0.689    NaN     NaN  1346  370    NaN    NaN
3   76  76  3254.0   982  ...   0.713    NaN     NaN  1224  379    NaN    NaN
4   81  81  3548.0   948  ...   0.702  287.0   891.0  1178  386  112.0  283.0
5   65  64  2747.0   812  ...   0.763  194.0   718.0   912  264   65.0  212.0
6   82  82  3379.0   914  ...   0.703  272.0  1111.0  1383  413  119.0  338.0
7   82  82  3016.0   888  ...   0.701  266.0   824.0  1090  319  101.0  261.0
8   62  62  2265.0   663  ...   0.783  186.0   615.0   801  269  103.0  185.0
9   80  80  3157.0   777  ...   0.736  207.0   818.0  1025  431   76.0  316.0
10  82  81  3143.0   835  ...   0.765  190.0   696.0   886  371   81.0  280.0
11  80  80  2976.0   836  ...   0.766  197.0   624.0   821  272   59.0  228.0
12  76  76  2677.0   753  ...   0.706  172.0   487.0   659  225   63.0  207.0
13  79  79  2554.0   722  ...   0.749  167.0   425.0   592  200   61.0  170.0
14  80  80  2622.0   716  ...   0.723  169.0   418.0   587  211   55.0  143.0
15  79  79  2630.0   723  ...   0.732  162.0   460.0   622  249   63.0  162.0
16  79  79  2629.0   755  ...   0.765  133.0   345.0   478  280   67.0  130.0
17  78  78  2441.0   560  ...   0.714  152.0   371.0   523  203   49.0   97.0
18  80  80  2308.0   480  ...   0.762  118.0   360.0   478  135   48.0   92.0
19  74  74  1695.0   313  ...   0.739  103.0   231.0   334   74   38.0   85.0

      TOV   PF   PTS
0     NaN  283  2361
1     NaN  264  2596
2     NaN  235  2822
3     NaN  208  2292
4     NaN  238  2191
5     NaN  205  1949
6     NaN  292  2275
7     NaN  262  2152
8   208.0  182  1600
9   282.0  230  1903
10  297.0  216  2034
11  249.0  244  2095
12  230.0  224  1818
13  200.0  220  1722
14  221.0  211  1717
15  197.0  238  1735
16  203.0  248  1846
17  186.0  245  1366
18  159.0  216  1165
19   95.0  196   748

[20 rows x 27 columns]


Career Stats for LeBron James:

    PLAYER_ID SEASON_ID LEAGUE_ID     TEAM_ID TEAM_ABBREVIATION  PLAYER_AGE  \
0        2544   2003-04        00  1610612739               CLE        19.0
1        2544   2004-05        00  1610612739               CLE        20.0
2        2544   2005-06        00  1610612739               CLE        21.0
3        2544   2006-07        00  1610612739               CLE        22.0
4        2544   2007-08        00  1610612739               CLE        23.0
5        2544   2008-09        00  1610612739               CLE        24.0
6        2544   2009-10        00  1610612739               CLE        25.0
7        2544   2010-11        00  1610612748               MIA        26.0
8        2544   2011-12        00  1610612748               MIA        27.0
9        2544   2012-13        00  1610612748               MIA        28.0
10       2544   2013-14        00  1610612748               MIA        29.0
11       2544   2014-15        00  1610612739               CLE        30.0
12       2544   2015-16        00  1610612739               CLE        31.0
13       2544   2016-17        00  1610612739               CLE        32.0
14       2544   2017-18        00  1610612739               CLE        33.0
15       2544   2018-19        00  1610612747               LAL        34.0
16       2544   2019-20        00  1610612747               LAL        35.0
17       2544   2020-21        00  1610612747               LAL        36.0
18       2544   2021-22        00  1610612747               LAL        37.0
19       2544   2022-23        00  1610612747               LAL        38.0

    GP  GS     MIN  FGM  ...  FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  \
0   79  79  3120.0  622  ...   0.754    99   333  432  465  130   58  273
1   80  80  3388.0  795  ...   0.750   111   477  588  577  177   52  262
2   79  79  3361.0  875  ...   0.738    75   481  556  521  123   66  260
3   78  78  3190.0  772  ...   0.698    83   443  526  470  125   55  250
4   75  74  3027.0  794  ...   0.712   133   459  592  539  138   81  255
5   81  81  3054.0  789  ...   0.780   106   507  613  587  137   93  241
6   76  76  2966.0  768  ...   0.767    71   483  554  651  125   77  261
7   79  79  3063.0  758  ...   0.759    80   510  590  554  124   50  284
8   62  62  2326.0  621  ...   0.771    94   398  492  387  115   50  213
9   76  76  2877.0  765  ...   0.753    97   513  610  551  129   67  226
10  77  77  2902.0  767  ...   0.750    81   452  533  488  121   26  270
11  69  69  2493.0  624  ...   0.710    51   365  416  511  109   49  272
12  76  76  2709.0  737  ...   0.731   111   454  565  514  104   49  249
13  74  74  2795.0  736  ...   0.674    97   542  639  646   92   44  303
14  82  82  3026.0  857  ...   0.731    97   612  709  747  116   71  347
15  55  55  1937.0  558  ...   0.665    57   408  465  454   72   33  197
16  67  67  2316.0  643  ...   0.693    66   459  525  684   78   36  261
17  45  45  1504.0  422  ...   0.698    29   317  346  350   48   25  168
18  56  56  2084.0  640  ...   0.756    63   396  459  349   73   59  196
19  55  54  1954.0  609  ...   0.768    65   392  457  375   50   32  178

     PF   PTS
0   149  1654
1   146  2175
2   181  2478
3   171  2132
4   165  2250
5   139  2304
6   119  2258
7   163  2111
8    96  1683
9   110  2036
10  126  2089
11  135  1743
12  143  1920
13  134  1954
14  136  2251
15   94  1505
16  118  1698
17   70  1126
18  121  1695
19   88  1590

[20 rows x 27 columns]


Career Stats for Michael Jordan:

    PLAYER_ID SEASON_ID LEAGUE_ID     TEAM_ID TEAM_ABBREVIATION  PLAYER_AGE  \
0         893   1984-85        00  1610612741               CHI        22.0
1         893   1985-86        00  1610612741               CHI        23.0
2         893   1986-87        00  1610612741               CHI        24.0
3         893   1987-88        00  1610612741               CHI        25.0
4         893   1988-89        00  1610612741               CHI        26.0
5         893   1989-90        00  1610612741               CHI        27.0
6         893   1990-91        00  1610612741               CHI        28.0
7         893   1991-92        00  1610612741               CHI        29.0
8         893   1992-93        00  1610612741               CHI        30.0
9         893   1994-95        00  1610612741               CHI        32.0
10        893   1995-96        00  1610612741               CHI        33.0
11        893   1996-97        00  1610612741               CHI        34.0
12        893   1997-98        00  1610612741               CHI        35.0
13        893   2001-02        00  1610612764               WAS        39.0
14        893   2002-03        00  1610612764               WAS        40.0

    GP  GS     MIN   FGM  ...  FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  \
0   82  82  3144.0   837  ...   0.845   167   367  534  481  196   69  291
1   18   7   451.0   150  ...   0.840    23    41   64   53   37   21   45
2   82  82  3281.0  1098  ...   0.857   166   264  430  377  236  125  272
3   82  82  3311.0  1069  ...   0.841   139   310  449  485  259  131  252
4   81  81  3255.0   966  ...   0.850   149   503  652  650  234   65  290
5   82  82  3197.0  1034  ...   0.848   143   422  565  519  227   54  247
6   82  82  3034.0   990  ...   0.851   118   374  492  453  223   83  202
7   80  80  3102.0   943  ...   0.832    91   420  511  489  182   75  200
8   78  78  3067.0   992  ...   0.837   135   387  522  428  221   61  207
9   17  17   668.0   166  ...   0.801    25    92  117   90   30   13   35
10  82  82  3090.0   916  ...   0.834   148   395  543  352  180   42  197
11  82  82  3109.0   920  ...   0.833   113   369  482  352  140   44  166
12  82  82  3181.0   881  ...   0.784   130   345  475  283  141   45  185
13  60  53  2089.0   551  ...   0.790    50   289  339  310   85   26  162
14  82  67  3029.0   679  ...   0.821    71   426  497  311  123   39  173

     PF   PTS
0   285  2313
1    46   408
2   237  3041
3   270  2868
4   247  2633
5   241  2753
6   229  2580
7   201  2404
8   188  2541
9    47   457
10  195  2491
11  156  2431
12  151  2357
13  119  1375
14  171  1640

[15 rows x 27 columns]

In [7]:
columns_to_access = ["PTS", "REB", "AST"] # change to columns you want to access

# print data from desired columns
for name, stats in career_stats.items():
    print(f"Career Stats for {name}:\n")
    if stats is not None:
        selected_columns = stats[columns_to_access]
        print(selected_columns)
        print("\n")
    else:
        print("no career stats available.\n")

Career Stats for Kareem Abdul-Jabbar:

     PTS   REB  AST
0   2361  1190  337
1   2596  1311  272
2   2822  1346  370
3   2292  1224  379
4   2191  1178  386
5   1949   912  264
6   2275  1383  413
7   2152  1090  319
8   1600   801  269
9   1903  1025  431
10  2034   886  371
11  2095   821  272
12  1818   659  225
13  1722   592  200
14  1717   587  211
15  1735   622  249
16  1846   478  280
17  1366   523  203
18  1165   478  135
19   748   334   74


Career Stats for LeBron James:

     PTS  REB  AST
0   1654  432  465
1   2175  588  577
2   2478  556  521
3   2132  526  470
4   2250  592  539
5   2304  613  587
6   2258  554  651
7   2111  590  554
8   1683  492  387
9   2036  610  551
10  2089  533  488
11  1743  416  511
12  1920  565  514
13  1954  639  646
14  2251  709  747
15  1505  465  454
16  1698  525  684
17  1126  346  350
18  1695  459  349
19  1590  457  375


Career Stats for Michael Jordan:

     PTS  REB  AST
0   2313  534  481
1    408   64   53
2   3041  430  377
3   2868  449  485
4   2633  652  650
5   2753  565  519
6   2580  492  453
7   2404  511  489
8   2541  522  428
9    457  117   90
10  2491  543  352
11  2431  482  352
12  2357  475  283
13  1375  339  310
14  1640  497  311

In [48]:
from nba_api.stats.static import players
# get_players returns a list of dictionaries, each representing a player.
nba_players = players.get_players()
# print('Number of players fetched: {}'.format(len(nba_players)))

def getID(name):
    for player in nba_players:
        if player['full_name'] == name:
            return player['id']

name = 'Kareem Abdul-Jabbar'
getID(name)

76003